@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;1,100;1,300&display=swap');
* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}
body {
  background: #fff;
}
ul {
  list-style: none;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
}
.top {
  display: grid;
  grid-template-columns: auto auto auto;
  height: 70px;
  padding: 0px 20px;
  background: rgba(0,22,43);
}
.top div {
  display: flex;
  align-items: center;
}
.top a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
}
.top-apps .material-symbols-outlined {
  display: none;
}
@media all and (max-width: 650px) {
  .top-apps .material-symbols-outlined {
    display: flex;
    align-items: center;
    justify-content: center;
    font-variation-settings:
    'FILL' 0,
    'wght' 100,
    'GRAD' 0,
    'opsz' 48;
    height:36px;
    width:36px;
    border: thin solid rgba(255, 255, 255, 0.3);;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.05);
    transition: 0.5s;
  }
  .top-apps .material-symbols-outlined:hover {
    background: rgba(255, 255, 255, 0.15);
  }
}
.top-logo {
  margin-left:15px;
}
.top-logo h1 {
  margin-left:5px;
  font-size: x-large;
  color:#DB0A40;
  font-family: 'Poppins', sans-serif;
}
.top-logo img {
  height: 60px;
  width: 60px;
}

.top-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10px;
  padding: 0px 20px;
  height:36px;
  border: thin solid rgba(255, 255, 255, 0.3);
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.05);
}
.top-nav a {
  border-radius: 18px;
  height:0px;
  margin:0px 20px;
  transition: 0.2s;
}
.top-nav a:hover {
  height:36px;
  padding:0px 20px;
  margin:0px 0px;
  background: rgba(255, 255, 255, 0.1);
}

.mobile-top-nav {
  display: none;
}
@media all and (max-width: 650px) {
  .top-nav {
    display: none;
  }
  .mobile-top-nav {
    display: none;
    background-color: rgba(0,22,43);
  }
  .showmenu {
    display: block;
  }
  .mobile-top-nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    text-decoration: none;
  }
  .mobile-top-nav a:hover {
    background: rgba(255, 255, 255, 0.1);
  }
}

.top-search-account {
  display: flex;
  justify-content: right;
  align-items: center;
  gap:10px;
}
.top-search-account a {
  border-radius: 18px;
  margin:6px;
  padding:0px;
  transition:0.2s;
}
.top-search-account a:hover {
  margin:0px;
  padding:6px;
  background: rgba(255, 255, 255, 0.1);
}
:root {
  --swiper-theme-color: #DB0A40;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}
.swiper-caption {
  position: absolute;
  bottom:10%;
  left:10%;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
}
.swiper-caption h1 {
margin:20px 0px;
}
.swiper-caption h2 {
  font-size: small;
}
.swiper-slide img {
  display: block;
  width: 100%;
}
button {
  border:none;
  height:36px;
  border-radius: 18px;
  background: #DB0A40;
  padding:0px 10px;
}
div.swiper-pagination.swiper-pagination-progressbar {
  top: inherit;
  bottom: 0;
}