@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;1,100;1,300&display=swap');
* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}
body {
  background: #fff;
}
ul {
  list-style: none;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
}
.top {
  display: grid;
  grid-template-columns: auto auto auto;
  height: 70px;
  padding: 0px 20px;
  background: rgba(0,28,57,1);
}
.top div {
  display: flex;
  align-items: center;
}
.top a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
}
.top-apps .material-symbols-outlined {
  display: flex;
  align-items: center;
  justify-content: center;
  font-variation-settings:
  'FILL' 0,
  'wght' 100,
  'GRAD' 0,
  'opsz' 48;
  height:36px;
  width:36px;
  border: thin solid rgba(255, 255, 255, 0.3);;
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.05);
  transition: 0.5s;
}
.top-apps .material-symbols-outlined:hover {
  background: rgba(255, 255, 255, 0.15);
}
.top-logo {
  margin-left:15px;
}
.top-logo h1 {
  margin-left:5px;
  font-size: x-large;
}
.top-logo img {
  height: 60px;
  width: 60px;
}
.top-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10px;
  padding: 0px 20px;
  height:36px;
  border: thin solid rgba(255, 255, 255, 0.3);
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.05);
}
.top-nav a {
  border-radius: 18px;
  height:0px;
  margin:0px 20px;
  transition: 0.2s;
}
.top-nav a:hover {
  height:36px;
  padding:0px 20px;
  margin:0px 0px;
  background: rgba(255, 255, 255, 0.1);
}
.top-search-account {
  justify-content: right;
  gap:18px;
}