@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500');
* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

body, h1, ul, li, a {
  font-family: 'Cabin', sans-serif;
  border:0;
}
body {
  background-color: #dfdfdf;

}

.top {
  display: flex;
  background: linear-gradient(to bottom,var(--background-start-color),var(--background-end-color));
  --background-start-color: #163333;
  --background-end-color: #102e4b;
  align-items: center;
  height: 70px;
}
.logo {
  display: flex;
  flex-grow: 1;
  margin-left:10px;
}
.logo h1{
  margin-left:10px;
}
.logo a{
  display: flex;
  color:#fff;
  align-items: center;
  text-decoration: none;
}
.search-login {
  width:20%;
}
.search-login ul {
  display: flex;
  justify-content:right;
  list-style-type: none;
  margin-right:20px;
}
.search-login li {
  padding:10px;
}
.search-login li a {
  color: #fff;
  transition: 0.5s;
}
.search-login li a:hover {
  color:#E63946;
}
.menu {
  background-color: #1a1a1a;
  color:#fff;
  display: flex;
  align-items: center;
  height: 50px;
}
.menu ul {
  list-style-type: none;
  margin-left:10px;
}
.menu li {
  display: inline-block;
  align-items: center;
}
.menu a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: small;
  padding:10px;
  border-radius: 5px;
}
.menu a:hover {
  background-color: #444;
}
.mobile-menu-icon {
  display: none;
}
@media all and (max-width: 480px) {
  .menu {
    display: block;
  }
  .menu ul {
    margin:0px;
  }
  .menu-list {
    background-color:#1a1a1a;
    display:none;
  }
  .menu li {
    height:50px;
    display: block;
    align-items: center;
  }
  .menu ul li a {
    display: block;
    width:100%;
    height:100%;
    line-height: 30px;
    z-index: 999;
  }
  .showmenu {
    display:block;
  }
  .mobile-menu-icon {
    display: block;
    height: 100%;
    cursor: pointer;
    padding: 12px;
  }
}
section.main {
  margin: 20px;
  display: flex;
  z-index: -1;

}
.grid {
  width:100%;
  display: grid;
  gap:1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  z-index: -1;
}
.card {
  background-color: #fff;
  border-radius: 5px;
  height:450px;
  box-shadow: 0px 0px 4px #888888;
  z-index: -1;
}
.card img {
  object-fit: cover;
  width:100%;height:300px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  z-index: -1;
}
.card h1 {
  margin:20px;
  font-size: large;
}
.card p {
  margin:20px;
  font-size: small;
}